Pillow==4.1.1
awscli==1.19.0
boto3==1.17.0
cached-property==1.3.1
cffi==1.10
cloudpickle==0.5.2
git+https://github.com/vitchyr/multiworld.git
gitpython==2.1.7
glfw==1.4.0
gtimer==1.0.0b5
gym[all]==0.10.5
imagehash==3.4
imageio==2.1.2
ipdb
joblib==0.9.4
numpydoc
opencv-python==3.4.0.12
path.py==10.3.1
pycparser==2.17.0
pytest-instafail==0.3.0
pytest==3.0.5
ray==0.2.2
scipy==0.18.0
sk-video==1.1.10
sphinx
sphinx_rtd_theme
torch==0.4.1
torchvision==0.2.0
